@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Roboto, "Stack Sans Notch", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: rgb(210, 255, 210);
}

.subtitulo {
    background-color: #ddd;
    padding: 15px;
}

header h1 {
    color: red;
    background-color: aliceblue;
}

.header-principal {
    margin-top: 30px;
}

.cabecalho {
    margin-bottom: 30px;
    font-size: 36px;
}

.subtitulo {
    margin-bottom: 30px;
    padding-top: 5px;
    font-weight: bold;
}

.secao {
    margin-bottom: 30px;
}